*{
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
}


.genericButton {
	background-color: rgb(58, 192, 27);
	color: white;
	font-weight: 700;
	border-radius: 5px;
	padding: 1em 2em;
}

.row{
    display: flex;
}

.container{
    width: 50%;
    height: 250px;
    text-align: center;
}